@charset "utf-8";

body{background-color:#efefef;}

.ui_form label{width:100px;text-align:right;display:inline-block;zoom:1;}
.ui_form .row{}
.ui_form .retract{padding-left:100px;}
.ui_form .error{color:#f00;font-size:12px;padding-left:10px;}
.ui_form .error:before{content:'*';}

