<form action="/reg/reg.php" method="post" class="ui_form">
	<fieldset>
		<legend>用户注册</legend>
		<div>
			<p class="row">
				<label for="account">账号：</label>
				<input type="text" id="account" name="account" value="{{$data.account|default:''}}" />
			</p>
			<p class="row">
				<label for="password">密码：</label>
				<input type="password" id="password" name="password" />
			</p>
			<p class="row">
				<label for="password2">确认密码：</label>
				<input type="password" id="password2" name="password2" />
			</p>
			<p class="row">
				<label for="email">邮箱：</label>
				<input type="text" id="email" name="email" value="{{$data.email|default:''}}" />
			</p>
			<div class="retract">
				<p>
					<input type="submit" value="确定" />
					<input type="reset" value="重置" />
					<a href="/login/login.php">已有账户？点击登录</a>
				</p>
				{{if isset($error)}}
				<p class="error">{{$error}}</p>
				{{/if}}
			</div>
		</div>
	</fieldset>
</form>

